body {
    font-family: Arial, sans-serif;
    background-color: grey;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
}

/* Style du formulaire */
.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
}


.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-group input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style spécifique pour la page d'inscription */
#inscription-form {
    max-width: 400px;
    margin: auto;
}

/* Style spécifique pour la page de connexion */
#login-form {
    max-width: 400px;
    margin: auto;
}
